<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button fill="solid" expand="block" color="primary" (click)="getItems()">Get items</ion-button>

  <ion-button fill="solid" expand="block" color="dark" (click)="addUser(username)">Add User</ion-button>

  <!-- <input type="file" (change)="uploadFile($event)"> -->

  <ion-button slots="end" expand="full" color="dark" (click)="logout()">Loguot</ion-button>

</ion-content>
